* {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: center;
  background-color: rgb(234, 234, 234);
}

.main-post {
  background-color: white;
  width: 400px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.line {
  margin: 0 0 0 10px;
  padding: 0%;
  margin-right: 10px;
}

.upper-sec {
  display: flex;
}

.img {
  height: 40px;
  border-radius: 20px;
  margin: 5px 10px;
}

.title {
  margin-top: 15px;
  font-weight: bold;
}

.description {
  padding: 0%;
  width: 100%;
}

.text {
  margin-left: 10px;
  font-size: 12px;
}

.main-img {

  width: 100%;
}

.lower-sec {

  display: flex;
  justify-content: space-around;
}

.box {
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: all .3s ease;
  border-radius: 10px;
  cursor: pointer;
}

.box:hover {
  background-color: rgb(234, 234, 234);

}

.icons {
  margin-top: 5px;
  height: 18px;
}

.react-main {
  height: 50px;
  width: 380px;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  display: flex;
  justify-content: space-evenly;
}


.reaction {
  height: 40px;
  margin-top: 5px;
  margin-left: 10px;
}

.reactions {
  height: 50px;
}

.comment-section {
  display: flex;
}

.input {
  margin-top: 5px;
  height: 40px;
  width: 82%;
  border-radius: 20px;
  background-color: rgb(234, 234, 234);
  outline: none;
  border: 1px solid rgb(145, 145, 145);
  padding-left: 20px;
  font-weight: bold;
}