* {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: center;
}

.main-post {
  background-color: rgb(234, 234, 234);
  max-width: 100%;
  margin-top:10px;
  border-radius: 10px;
}

.upper-sec {
  display: flex;
}

.img {
  height: 40px;
  border-radius: 20px;
  margin: 5px 10px;
}

.title {
  margin-top: 15px;
}

.description {
  margin: 0 0 5px 10px;
  padding: 0%;
  width: 100%;
}

.text {
  font-size: 12px;
}

.main-img {

  width: 100%;
}

.lower-sec {
  
  display: flex;
  justify-content: space-around;
}

.box {
  height: 30px;
}
.icons {
  font-size: 20px;
  font-weight: bolder;
}